//
//  PreRelease.xcconfig
//  daffo-ios-base
//
//  Created by Sujeet Shrivastav on 14/08/20.
//  Copyright © 2020 Daffodil Software Pvt. Ltd. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Livestream App/Pods-Livestream App.prerelease.xcconfig"
#include "Pods/Target Support Files/Pods-Livestream App-Livestream AppUITests/Pods-Livestream App-Livestream AppUITests.prerelease.xcconfig"
#include "Pods/Target Support Files/Pods-Livestream AppTests/Pods-Livestream AppTests.prerelease.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.xyz.prerelease
PRODUCT_NAME = AppName-PreRel
